/* STYLES */
body {
    font-family: 'Nunito', sans-serif;
}

/* efecto smoth scrolling - # - id */
html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
}

.container-servicios {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}