/* NORMALIZE */

/* imports fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* efecto smoth scrolling - # - id */
html {
	//line-height: 1.7;
	scroll-behavior: smooth;
}

body {
	//font-family: 'Nunito', sans-serif;
	//font-family: "Readex Pro",sans-serif;
	//font-family: "Raleway",sans-serif;
	//font-family: "Fira Sans", sans-serif;
	font-family: "Roboto", Sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #54595f;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 200px;
	padding-right: 200px;
	overflow: hidden;

	@media screen and (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media screen and (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* .container-servicios {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
} */