/* NORMALIZE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* efecto smoth scrolling - # - id */
html {
	//line-height: 1.7;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 200px;
	padding-right: 200px;
    overflow: hidden;

	@media screen and (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media screen and (max-width: 768px) {
		padding-left: 64px;
		padding-right: 64px;
	}
}

.container-servicios {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}