/* NAV */
nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    transition: 0.5s;
    z-index: 1000;

    & .logo {
        position: relative;
        font-size: 1.9em;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        transition: 0.5s;
    }

    & ul {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & li {
        position: relative;
        list-style-type: none;
    }

    & a {
        position: relative;
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 0 15px;
        letter-spacing: 0.5px;
    }

    .link:after {
        content: '';
        position: absolute;
        background-color: #eb5757;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -12px;
        transition: 0.3s;
    }

    .link:hover:after {
        width: 100%;
    }

    .link:hover {
        color: #eb5757;
        transition: 0.5s;
    }

    .select {
        color: #eb5757;
        border-bottom: solid 3px #eb5757;
        padding-bottom: 9px;

        &::after {
            color: #eb5757;
            background-color: transparent;
        }
    }

    .contactenos {
        background-color: #eb5757;
        color: white;
        padding: 12px 25px;
        font-size: 13px;
        font-weight: 700;
        border-radius: 6px;
        margin-left: 2em;
        transition: 0.5s;

        &:hover {
            background-color: #fff;
            color: black;
        }
    }

    /* NAV STICKY */
    &.sticky {
        padding: 10px;
        background-color: rgb(255 255 255 / 97%);
        box-shadow: 1px 5px 10px 0px #00000010;

        & .select {
            color: #eb5757;
        }

        & ul li a {
            color: black;
        }

        & .contactenos {
            background-color: white;
            border: solid 2px #eb5757;
            color: #eb5757;
            padding: 10px 25px;
            border-radius: 32px;
            font-size: 13px;
            font-weight: 700;
            border-radius: 6px;
            margin-left: 2em;
            transition: 0.5s;

            &:hover {
                background-color: #eb5757;
                color: white;
                border: solid 2px #eb5757;
                transition: 0.5s;
            }
        }

        & .logo {
            color: black;
        }

        /* MENU HAMBURGUESA STICKY */
        @extend .hamburger;

        .hamburger .bar,
        .hamburger:after,
        .hamburger:before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: #eb5757;
            margin: 6px 0px;
            transition: 0.4s;
        }
    }

    /* MENU HAMBURGUESA */
    .hamburger {
        position: relative;
        display: block;
        width: 40px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: #FFF;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    //background-color: rgba(255, 255, 255, 0);
    background-color: rgb(80 80 80 / 72%);
    backdrop-filter: blur(20px);
    padding-top: 250px;
    transition: 0.5s;
}

.mobile-nav.is-active {
    left: 0;
    font-size: 1.3em;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px;
    text-align: center;
    padding: 7px 0;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;

    &.select-mobile {
        color: #ed3c57;
    }
}

.sticky-fix {
    padding-bottom: 4px !important;
}

/* MEDIA QUERYS NAV */
@media screen and (min-width: 993px) {
    nav .mobile-nav {
        display: none;
    }

    nav .hamburger {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .nav__link--menu {
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }

    nav .hamburger {
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    nav .hamburger {
        margin-right: 30px;
    }

    nav .logo {
        margin-left: 15px;
    }
}

@media screen and (max-width: 576px) {
    nav .hamburger {
        margin-right: 30px;
    }

    nav .logo {
        font-size: 1.6em;
        margin-left: 20px;
    }
}