/* nav */
nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    transition: 0.5s;
    z-index: 1000;

    & .logo {
        position: relative;
        font-size: 1.9em;
        text-decoration: none;
        letter-spacing: 2px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        transition: 0.5s;
    }

    & ul {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & li {
        position: relative;
        list-style-type: none;
    }

    & a {
        position: relative;
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 0 20px;
        letter-spacing: 0.5px;
    }

    .link:after {
        content: '';
        position: absolute;
        background-color: #eb5757;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -12px;
        transition: 0.3s;
    }

    .link:hover:after {
        width: 100%;
    }

    .link:hover {
        color: #eb5757;
        transition: 0.5s;
    }

    .select {
        color: #eb5757;
        border-bottom: solid 3px #eb5757;
        padding-bottom: 9px;

        &::after {
            color: #eb5757;
            background-color: transparent;
        }
    }

    .contactenos {
        background-color: #eb5757;
        color: white;
        padding: 12px 25px;
        border-radius: 32px;
        font-size: 13px;
        font-weight: 700;
        border-radius: 6px;
        margin-left: 3em;
        transition: 0.5s;

        &:hover {
            background-color: #fff;
            color: black;
        }
    }

    &.sticky {
        padding: 15px 100px;
        background-color: rgb(255 255 255 / 97%);
        box-shadow: 1px 5px 10px 0px #00000010;

        & .select {
            color: #eb5757;
        }

        & ul li a {
            color: black;
        }

        & .contactenos {
            background-color: white;
            border: solid 2px #eb5757;
            color: #eb5757;
            padding: 12px 25px;
            border-radius: 32px;
            font-size: 13px;
            font-weight: 700;
            border-radius: 6px;
            margin-left: 3em;
            transition: 0.5s;

            &:hover {
                background-color: #eb5757;
                color: white;
                border: solid 2px #eb5757;
                transition: 0.5s;
            }
        }

        & .logo {
            color: black;
        }
    }

    /* Menu Hamburguesa */
    .hamburger {
        position: relative;
        display: block;
        width: 40px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #FFF;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    //background-color: #12002F;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    padding-top: 50%;
    transition: 0.7s;
}

.mobile-nav.is-active {
    left: 0;
    font-size: 1.1em;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 230px;
    margin: 0 auto 30px;
    text-align: center;
    padding: 7px 0;
    //background-color: #1f103F;
    color: #FFF;
    text-decoration: none;
    font-size: 1.2em;

    &.select-mobile {
        color: #ed3c57;
    }
}

/* .mobile-nav a:hover {
    background-color: #24104f;
} */

.sticky-fix {
    padding-bottom: 4px !important;
}

/* media querys */
@media (max-width:1200px) {
    .main-logo {
        margin-left: -1em;
    }

    .nav__menu {
        display: block;
        margin-right: 1em;
    }

    /* Nav */
    .nav__link--menu {
        position: fixed;
        background-color: rgb(49, 48, 48);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 50px;
        width: 35px;
        cursor: pointer;
    }

    nav.sticky .contactenos {
        background-color: #eb5757;
        color: #fff;
        padding: 12px 25px;
        border-radius: 32px;
        font-size: 13px;
        font-weight: 700;
        border-radius: 6px;
        margin-left: 3em;
        transition: 0.5s;
    }

    nav.sticky ul li a {
        color: #fff;
    }
}

@media (max-width:600px) {
    .main-logo {
        margin-left: -4em;
    }

    .nav__menu {
        display: block;
        margin-right: -4em;
    }

    nav .logo {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {
    nav .mobile-nav {
        display: none;
    }

    nav .hamburger {
        display: none;
    }
}