/* NESTING SASS */

/* seccion hero preguntas frecuentes */
.fade-in {
    animation: fadeIn 3s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .banner-faqs {
        width: 100%;
        height: 30vh;
        min-height: 100px;
        max-height: 1000px;
        position: relative;

        //background-image: url(../../img/banner-faqs-uno.svg);
        //background: linear-gradient(45deg, #eb5757, #7462ff, #f48e21, #23d5ab);
        //animation: color 9s ease-in-out infinite;
        //background-size: 300% 300%;
        //|color: #fff;
        //background: -webkit-linear-gradient(to right, hsla(243, 62%, 33%, 0.459), hsla(0, 90%, 12%, 0.664)), url(../../img/header-faqs.png);
        //background: linear-gradient(to right, hsla(243, 62%, 33%, 0.459), hsla(0, 90%, 12%, 0.664)), url(../img/header-faqs);
        //background-image: url(../../img/header-faqs.png);
        //background-size: cover;
        //background-attachment: fixed;
        //clip-path: polygon(-280% 0%, 100% 0%, 100% 85%, 50% 100%);
        /*         background-image: url(../../img/banner-faqs-uno.svg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover; */
        background-color: #653694;

        .arrow-banner-down {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }
    }

    .text-logo {
        color: #eb5757;
    }
}

/* seccion categorias */
.preguntas-frecuentes {
    background: #fff;

    .container {
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 8em;
        padding-bottom: 9em;
        background-image: url(../../img/bg-tecnologias.svg);
        background-position: center top;
        background-repeat: repeat;

        /*         .titulo {
            color: #3a3a3a;
            font-weight: 700;
            text-align: center;
            margin: 20px 0 70px 0;
        } */

        .separador-faq {
            border-right: 0.2pc solid #eb5757;
            margin: 0 0 25px 0;
            padding-right: 10px;
        }

        .titulo-faqs {
            color: #3a3a3a;
            font-weight: 700;
            text-align: right;
            margin: 35px 30px 30px 0;
            background: #fff;
        }

        .paragraph-faqs {
            text-align: right;
            margin: 0 30px 0 0;
            background: #fff;
        }

        .categorias {
            /*             display: flex;
            flex-direction: row; */
            gap: 20px;
            margin-bottom: 50px;
            padding-left: 15px;

            .categoria {
                cursor: pointer;
                text-align: center;
                padding: 14px 20px 14px 20px;
                border-radius: 15px;
                color: #a2a2a2;
                background: #eff3f5;
                //border: 1.5px solid #ff375f;
                transition: .4s ease all;

                &:hover {
                    box-shadow: $sombra;
                    color: #fff;
                    background: #ff375f;
                }

                .paragraph-btn {
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            .categoria.activa {
                color: #fff;
                background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
                box-shadow: 1px 1px 30px -5px #20202085;
            }
        }

        /* seccion preguntas */
        .preguntas {
            //margin-right: 12em;
            padding-left: 15px;

            .contenedor-preguntas {
                display: none;
                // width: 44em;

                .contenedor-pregunta {
                    transition: .4s ease all;
                    cursor: pointer;
                    margin-bottom: 1em;

                    &:hover {
                        color: #ff375f;
                    }

                    .pregunta {
                        //@include flex(row, nowrap, space-between, center, 0);
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 15px;

                        & img {
                            width: 15px;
                            margin-right: 15px;
                        }
                    }

                    .paragraph {
                        margin-top: 0;
                        background: #fff;
                    }

                    .respuesta {
                        color: #575757;
                        line-height: 27px;
                        max-height: 0;
                        opacity: 0;
                        width: 40em;
                        transition: .3s ease all;
                        background: #fff;
                    }

                    &.activa .respuesta {
                        opacity: 2;
                        margin-bottom: 30px;
                        margin-left: 35px;
                        text-align: left;
                        width: 45em;
                    }

                    &.activa img {
                        transform: rotate(45deg);
                    }
                }
            }

            .contenedor-preguntas.activo {
                display: flex;
                flex-direction: column;
            }
        }

        .img-nav {
            width: 100%;
            height: auto;
            box-shadow: 1px 1px 30px -5px #20202085;
            border-radius: 15px;
        }
    }
}

.color-bg {
    background-color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
    .preguntas-frecuentes .container .preguntas .contenedor-preguntas .contenedor-pregunta.activa .respuesta {
        width: 35em;
    }

    .preguntas-frecuentes .container {
        padding-top: 6em;
        padding-bottom: 6em;
    }

    .fade-in .banner-faqs {
        height: 40vh;
    }

    .preguntas-frecuentes .container .titulo-faqs {
        font-size: 35px;
        margin: 35px 30px 25px 0;
    }
}

@media screen and (max-width: 1024px) {
    .preguntas-frecuentes .container .preguntas .contenedor-preguntas .contenedor-pregunta.activa .respuesta {
        width: 30em;
    }
}

@media screen and (max-width: 992px) {
    .flex-row {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 768px) {
    .fade-in .banner-faqs {
        height: 20vh;
    }

    .flex-row {
        flex-direction: column !important;
    }

    .preguntas-frecuentes .container {
        padding-top: 3em;
        padding-bottom: 5em;
    }

    .preguntas-frecuentes .container .separador-faq {
        border-right: none;
        margin: 0 0 40px 0;
        padding-right: 0;
    }

    .preguntas-frecuentes .container .paragraph-faqs {
        text-align: center;
        margin: 0;
    }

    .preguntas-frecuentes .container .titulo-faqs {
        text-align: center;
        margin: 35px 0 30px 0;
    }

    .preguntas-frecuentes .container .categorias {
        gap: 25px;
    }

    .preguntas-frecuentes .container .preguntas {
        padding-top: 25px;
    }
}

@media screen and (max-width: 576px) {
    .preguntas-frecuentes .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .preguntas-frecuentes .container .separador-faq {
        margin: 0 0 50px 0;
    }

    .preguntas-frecuentes .container .titulo-faqs {
        margin: 20px 0 20px 0;
    }

    .preguntas-frecuentes .container .preguntas .contenedor-preguntas .contenedor-pregunta.activa .respuesta {
        width: 25em;
    }

    .preguntas-frecuentes .container .preguntas .contenedor-preguntas .contenedor-pregunta {
        margin-bottom: 3em;
    }
}
