/* NESTING SASS */

/* SECCION BANNER INDEX */
.fade-in {
    animation: fadeIn 3s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .banner {
        width: 100%;
        height: 100vh;
        min-height: 1100px;
        max-height: 100px;
        /*         min-height: 1000px;
        max-height: 100px; */
        background: -webkit-linear-gradient(hsl(276, 92%, 26%, 1), hsl(350, 81%, 42%, 0.759)), url(../img/background-page.svg);
        background: linear-gradient(hsl(276, 92%, 26%, 1), hsl(350, 81%, 42%, 0.759)), url(../img/background-page.svg);

        .text-logo {
            color: #eb5757;
        }

        .banner-text {
            display: flex;
            flex-direction: column;
            color: #fff;
            padding-top: 15em;

            .container {
                padding-left: 120px;

                .banner-title {
                    font-size: 80px;
                    font-weight: 900;
                    line-height: 1.10;
                    margin-bottom: 35px;
                    font-family: Montserrat, sans-serif;

                    .banner-title-color {
                        color: #eb5757;
                    }
                }

                .banner-paragraph {
                    font-size: 36px;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                .banner-button {
                    display: inline-block;
                    background-color: #eb5757;
                    justify-self: center;
                    color: #fff;
                    text-decoration: none;
                    padding: 13px 30px;
                    border-radius: 32px;
                    transition: box-shadow 500ms;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 4%;

                    &:hover {
                        box-shadow: 1px 1px 30px -5px #20202085;
                    }
                }
            }
        }
    }

    /*     .arrow {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(50% + 50.00px) calc(100% - 50px), 50% 100%, calc(50% - 50.00px) calc(100% - 50px), 0 calc(100% - 50px));
        background: #cc283b;
        height: 50px;
    } */

    .wave-banner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    /* SECCION PORTADA UNO INDEX */
    .portada-uno {
        background-color: #fff;

        .container {
            padding-top: 100px;
            padding-bottom: 100px;

            .portada-uno-flex {
                display: flex;
                flex-direction: row;
                justify-items: center;
                align-items: center;
                gap: 6em;

                .portada-uno__picture {
                    text-align: center;

                    .portada-uno__img {
                        width: 90%;
                        max-width: 500px;
                    }
                }

                .pt-4 {
                    padding-top: 3em;
                    width: 50%;

                    .subtitle-portada-uno {
                        color: $color-title;
                        font-size: 2rem;
                        margin-bottom: 25px;
                        position: relative;

                        &::before {
                            content: '';
                            width: 50px;
                            height: 8px;
                            background-color: #eb5757;
                            position: absolute;
                            top: -30px;
                        }
                    }

                    .portada-uno__paragraph {
                        line-height: 1.7;
                    }
                }
            }
        }
    }

    /* SECCION PORTADA DOS INDEX */
    .portada-dos {
        background: #f7f7f8;
        clip-path: polygon(0 12%, 100% 0, 100% 83%, 0% 100%);

        .container {
            padding-top: 200px;
            padding-bottom: 230px;

            .portada-dos-flex {
                text-align: center;

                .subtitle-portada-dos {
                    color: $color-title;
                    font-size: 2rem;
                    margin-bottom: 25px;
                }

                .portada-dos__paragraph {
                    line-height: 1.7;
                }

                .portada-dos__main {
                    display: flex;
                    flex-direction: row;
                    padding-top: 8%;

                    .portada-dos__icons {
                        width: 280px;
                        margin: 0 auto;

                        .portada-dos__icon {
                            width: 40px;
                            padding-bottom: 20px;
                        }

                        .portada-dos__title {
                            padding-bottom: 13px;
                        }
                    }
                }
            }
        }
    }

    /* SECCION PORTADA TRES INDEX */
    .portada-tres-index {
        text-align: center;

        .container {
            padding-top: 100px;
            padding-bottom: 100px;

            .subtitle-portada-tres {
                color: $color-title;
                font-size: 2rem;
                margin-bottom: 25px;
            }

            .portada-tres-index__text {
                width: 60%;
                margin: 0 auto;
                margin-bottom: 45px;
            }

            .btn-portada-tres {
                background-color: #eb5757;
                color: #fff;
                text-decoration: none;
                padding: 13px 30px;
                border-radius: 32px;
                transition: box-shadow 500ms;
                font-size: 18px;
                font-weight: 600;

                &:hover {
                    box-shadow: 1px 1px 30px -5px #20202085;
                }
            }
        }
    }
}

/* MEDIA QUERYS INDEX */
@media screen and (max-width: 992px) {
    .fade-in .banner .banner-text .container .banner-title {
        font-size: 30px;
        margin-bottom: 22px;
        text-align: left;
    }

    .fade-in .banner .banner-text .container .banner-paragraph {
        font-size: 20px;
        text-align: left;
    }

    .fade-in .banner .banner-text .container .banner-button {
        font-size: 15px;
    }

    .fade-in .banner .banner-text .container {
        padding-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .fade-in .banner .banner-text {
        text-align: left;
    }

    .fade-in .portada-uno .container .portada-uno-flex {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .fade-in .portada-uno .portada-uno__picture {
        max-width: 350px;
    }

    .fade-in .portada-uno .container .portada-uno-flex .pt-4 {
        padding-top: 1em;
        width: 100%;
    }

    .fade-in .portada-uno .subtitle-portada-uno {
        text-align: left;
    }

    .fade-in .portada-uno .portada-uno__paragraph {
        text-align: left;
    }

    .fade-in .portada-uno .container .portada-uno-flex .pt-4 .subtitle-portada-uno::before {
        position: unset;
    }

    .fade-in .portada-dos {
        clip-path: none;
    }

    .fade-in .portada-dos .container {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

@media screen and (max-width: 576px) {
    .fade-in .banner {
        background: -webkit-linear-gradient(hsl(276deg, 92%, 26%), hsla(350deg, 81%, 42%, 0.759));
        background: linear-gradient(hsl(276deg, 92%, 26%), hsla(350deg, 81%, 42%, 0.759));
    }

    .fade-in .arrow {
        background: #d25564;
        height: 50px;
    }

    .fade-in .portada-dos .container .portada-dos-flex .portada-dos__main {
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        gap: 70px;
    }

    .fade-in .portada-tres-index .container .portada-tres-index__text {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 45px;
    }

    .fade-in .banner .banner-text .container .banner-button {
        font-size: 14px;
    }

    .fade-in .banner .banner-text {
        text-align: left;
    }
}