/* NESTING SASS */

/* SECCION BANNER NOSOTROS */
.fade-in {
    animation: fadeIn 3s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .banner-nosotros {
        width: 100%;
        height: 100vh;
        min-height: 1100px;
        max-height: 100px;
        position: relative;
        color: #fff;
        background-image: url(../img/banner-nosotros-circle.svg);
        background: -webkit-linear-gradient(to right, hsla(243, 62%, 33%, 0.459), hsla(0, 90%, 12%, 0.664)), url(../img/banner-nosotros-circle.svg);
        background: linear-gradient(to right, hsla(243, 62%, 33%, 0.459), hsla(0, 90%, 12%, 0.664)), url(../img/banner-nosotros-circle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        animation: movimiento 18s infinite linear alternate;

        @keyframes movimiento {
            from {
                background-position: bottom left;
            }

            to {
                background-position: top right;
            }
        }

        .text-logo {
            color: #eb5757;
        }

        .wave {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .banner-nosotros-text {
            padding-top: 20em;
            text-align: center;

            .container {

                .banner-nosotros-title {
                    font-size: 75px;
                    font-weight: 700;
                    line-height: 1.10;
                    margin-bottom: 30px;
                }

                .banner-nosotros-paragraph {
                    font-size: 36px;
                    font-weight: 400;
                    margin-bottom: 35px;
                }

                .banner-nosotros-button {
                    display: inline-block;
                    background-color: #eb5757;
                    justify-self: center;
                    color: #fff;
                    text-decoration: none;
                    padding: 13px 30px;
                    border-radius: 32px;
                    transition: box-shadow 500ms;
                    font-size: 20px;
                    font-weight: 700;

                    &:hover {
                        box-shadow: 1px 1px 30px -5px #20202085;
                    }
                }
            }


        }
    }
}

/* SECCION MAIN */
.main-title {
    padding-top: 10%;
    background-color: #1f1541;
}

.main {
    @include flex(column, nowrap, center, center, 0);
    padding-bottom: 30em;
    background-image: url("../img/banner-nosotros-cloud.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

/* SECCION NOSOTROS */
.nosotros {
    background-color: #fff;

    .container {
        padding-top: 180px;
        padding-bottom: 150px;

        .nosotros-flex {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            gap: 6em;

            .nosotros-container {
                width: 50%;

                .subtitle-nosotros {
                    //color: $color-title;
                    font-size: 2rem;
                    margin-bottom: 25px;
                    position: relative;

                    background-image: -webkit-gradient(linear, right top, left top, color-stop(32%, #ff286f), to(#5014ad));
                    background-image: linear-gradient(270deg, #ff286f 32%, #5014ad);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .nosotros__paragraph {
                    line-height: 1.7;
                }
            }

            .nosotros__picture {
                text-align: center;
                padding-top: 1em;

                .nosotros__img {
                    width: 90%;
                    max-width: 500px;
                }
            }
        }
    }
}

/* SECCION IMAGEN NOSOTROS */
.image-nosotros {
    text-align: center;
    padding-top: 550px;
    clip-path: polygon(0 12%, 100% 0, 100% 73%, 0% 90%);
    background: -webkit-linear-gradient(to right, hsla(243, 62%, 33%, 0.459), hsla(0, 90%, 12%, 0.664)), url(../img/nosotros-1.jpeg);
    background: linear-gradient(to right, hsla(243, 62%, 33%, 0.459), hsla(0, 90%, 12%, 0.664)), url(../img/nosotros-1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

/* SECCION CARACTERISTICAS */
.caracteristicas {
    background: #fff;

    .container {
        padding-top: 100px;
        padding-bottom: 190px;

        .caracteristicas-flex {
            text-align: center;

            .caracteristicas-subtitle {
                color: $color-title;
                font-size: 2rem;
                margin-bottom: 25px;
                position: relative
            }

            .caracteristicas-paragraph {
                line-height: 1.7;
            }

            .caracteristicas-main {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 8%;
                gap: 10px;

                .caracteristicas-icons {
                    width: 280px;

                    .caracteristicas-icon {
                        width: 40px;
                        padding-bottom: 20px;
                    }

                    .caracteristicas-title {
                        padding-bottom: 13px;
                    }
                }
            }
        }
    }
}

/* SECCION INFO NOSOTROS */
.info-nosotros {
    background: #f8f9fc;
    box-shadow: 1px 1px 30px -5px #20202049;

    .container {
        padding-top: 100px;
        padding-bottom: 100px;

        .info-nosotros-flex {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            gap: 6em;

            .info-nosotros-picture {
                text-align: center;
                padding-top: 1em;

                .info-nosotros-img {
                    width: 90%;
                    max-width: 500px;
                }
            }

            .info-nosotros-container {
                width: 50%;

                .info-nosotros-title {
                    color: $color-title;
                    font-size: 2rem;
                    margin-bottom: 25px;
                    position: relative;
                }

                .info-nosotros-paragraph {
                    line-height: 1.7;
                }
            }
        }
    }
}

/* SECCION FINAL NOSOTROS */
.nosotros-final {
    text-align: center;

    .container {
        padding-top: 160px;
        padding-bottom: 140px;

        .nosotros-final-subtitle {
            color: $color-title;
            font-size: 2rem;
            margin-bottom: 25px;
        }

        .nosotros-final-text {
            width: 60%;
            margin: 0 auto;
            margin-bottom: 45px;
        }

        .nosotros-final-button {
            background-color: #eb5757;
            color: #fff;
            text-decoration: none;
            padding: 13px 30px;
            border-radius: 32px;
            transition: box-shadow 500ms;
            font-size: 18px;
            font-weight: 600;

            &:hover {
                box-shadow: 1px 1px 30px -5px #20202085;
            }
        }
    }
}

/* MEDIA QUERYS */
@media screen and (max-width: 992px) {
    .fade-in .banner-nosotros .banner-nosotros-text {
        padding-top: 12em;
        text-align: center;
    }

    .fade-in .banner-nosotros .banner-nosotros-text .container .banner-nosotros-paragraph {
        font-size: 30px;
    }

    .fade-in .banner-nosotros .banner-nosotros-text .container .banner-nosotros-button {
        font-size: 17px;
    }

    .nosotros .container {
        padding-top: 180px;
        padding-bottom: 120px;
    }

    .nosotros .container .nosotros-flex {
        gap: 1em;
    }

    .nosotros .container .nosotros-flex .nosotros-container {
        width: 70%;
    }

    .nosotros .container .nosotros-flex .nosotros__picture {
        padding-top: 2em;
    }

    .info-nosotros .container .info-nosotros-flex {
        gap: 1em;
    }

    .info-nosotros .container .info-nosotros-flex .info-nosotros-container {
        width: 90%;
    }

    .nosotros-final .container {
        padding-top: 110px;
        padding-bottom: 100px;
    }
}

@media (max-width:768px) {
    .fade-in .banner-nosotros .banner-nosotros-text .container .banner-nosotros-title {
        font-size: 50px;
    }

    .fade-in .banner-nosotros .banner-nosotros-text {
        padding-top: 23em;
    }

    .fade-in .banner-nosotros .banner-nosotros-text .container .banner-nosotros-paragraph {
        font-size: 22px;
    }

    .fade-in .banner-nosotros .banner-nosotros-text .container .banner-nosotros-button {
        font-size: 15px;
    }

    .main-title {
        padding-top: 12%;
    }

    .nosotros .container .nosotros-flex {
        flex-direction: column-reverse;
    }

    .nosotros .container .nosotros-flex .nosotros-container {
        width: 100%;
    }

    .nosotros .container .nosotros-flex .nosotros__picture {
        display: none;
    }

    .nosotros .container .nosotros-flex .nosotros-container .subtitle-nosotros {
        font-size: 2rem;
        margin-bottom: 25px;
        position: relative;
        background-image: -webkit-gradient(linear, right top, left top, color-stop(32%, #ff286f), to(#5014ad));
        background-image: linear-gradient(270deg, #ff286f 32%, #5014ad);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .caracteristicas .container .caracteristicas-flex .caracteristicas-main {
        flex-direction: column;
        padding-top: 10%;
        gap: 40px;
    }

    .caracteristicas .container {
        padding-top: 50px;
        padding-bottom: 130px;
    }

    .info-nosotros .container .info-nosotros-flex {
        flex-direction: column;
    }

    .info-nosotros .container .info-nosotros-flex .info-nosotros-container .info-nosotros-title {
        text-align: center;
    }

    .info-nosotros .container .info-nosotros-flex .info-nosotros-picture .info-nosotros-img {
        width: 60%;
    }

    .info-nosotros .container .info-nosotros-flex .info-nosotros-picture {
        padding-bottom: 1em;
    }

    .info-nosotros .container .info-nosotros-flex .info-nosotros-container {
        width: 100%;
    }

    .nosotros-final .container .nosotros-final-text {
        width: 90%;
    }

    .main img {
        height: 75px;
    }
}

@media screen and (max-width: 576px) {
    .main img {
        height: 60px;
    }

    .nosotros .container .nosotros-flex .nosotros-container .nosotros__paragraph {
        text-align: justify;
    }
}