/* NESTING SASS */
.sticky-servicios {
    padding-bottom: 4px !important;
}

.logo-servicios {
    font-size: 1.9em;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s;
}

/* SECCION SERVICIOS */
.fade-in {
    animation: fadeIn 3s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* SECCION SERVICIOS INFO */
    .servicios-info {
        //background: #551a8b;
        background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
        clip-path: polygon(100% 0%, 0% 0%, 0% 92.86%, 1% 92.85%, 2% 92.82%, 3% 92.78%, 4% 92.71%, 5% 92.63%, 6% 92.53%, 7% 92.42%, 8% 92.29%, 9% 92.14%, 10% 91.98%, 11% 91.81%, 12% 91.62%, 13% 91.42%, 14% 91.22%, 15% 91.00%, 16% 90.77%, 17% 90.53%, 18% 90.29%, 19% 90.04%, 20% 89.79%, 21% 89.54%, 22% 89.28%, 23% 89.03%, 24% 88.78%, 25% 88.52%, 26% 88.28%, 27% 88.04%, 28% 87.80%, 29% 87.57%, 30% 87.35%, 31% 87.14%, 32% 86.94%, 33% 86.76%, 34% 86.58%, 35% 86.42%, 36% 86.28%, 37% 86.15%, 38% 86.04%, 39% 85.94%, 40% 85.86%, 41% 85.80%, 42% 85.75%, 43% 85.72%, 44% 85.71%, 45% 85.72%, 46% 85.75%, 47% 85.80%, 48% 85.86%, 49% 85.94%, 50% 86.04%, 51% 86.15%, 52% 86.28%, 53% 86.43%, 54% 86.59%, 55% 86.76%, 56% 86.95%, 57% 87.15%, 58% 87.36%, 59% 87.58%, 60% 87.81%, 61% 88.04%, 62% 88.29%, 63% 88.53%, 64% 88.78%, 65% 89.04%, 66% 89.29%, 67% 89.55%, 68% 89.80%, 69% 90.05%, 70% 90.30%, 71% 90.54%, 72% 90.78%, 73% 91.00%, 74% 91.22%, 75% 91.43%, 76% 91.63%, 77% 91.82%, 78% 91.99%, 79% 92.15%, 80% 92.29%, 81% 92.42%, 82% 92.54%, 83% 92.63%, 84% 92.71%, 85% 92.78%, 86% 92.82%, 87% 92.85%, 88% 92.86%, 89% 92.85%, 90% 92.82%, 91% 92.77%, 92% 92.71%, 93% 92.63%, 94% 92.53%, 95% 92.42%, 96% 92.28%, 97% 92.14%, 98% 91.98%, 99% 91.80%, 100% 91.62%);

        .container {
            height: 80em;
            padding-left: 60px;
            padding-right: 60px;
            padding-left: 100px;
            padding-right: 100px;

            .servicio-info-flex {
                display: flex;
                flex-direction: row;

                .content {
                    background-size: 50% auto;
                    background-attachment: fixed;
                    background-repeat: no-repeat;
                    background-image: url("../img/Asset-3.svg");
                    padding: 1.618em 0em 50em 50%;
                    background-position: 20px 75%;

                    .smallscreen {
                        display: none;

                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    .title-servicios-info {
                        font-size: 45px;
                        margin-top: 2em;
                        font-weight: 700;
                        color: #fff;
                    }

                    .paragraph-servicios-info {
                        font-size: 25px;
                        font-weight: 400;
                        margin-top: 1em;
                        color: #fff;
                    }
                }
            }
        }
    }

    /* SECCION HERO SERVICIOS */
    .hero-servicios {
        width: 100%;
        height: 800px;
        background: url(../img/bg-01.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;

        .text-logo {
            color: #eb5757;
        }

        .banner-servicios-text {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-top: 15em;

            .container {
                padding-right: 100px;

                .banner-servicios-title {
                    text-transform: uppercase;
                    color: #fff;
                    width: 50%;
                    font-size: 50px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                .banner-servicios-paragraph {
                    color: #fff;
                    font-size: 25px;
                    font-weight: 400;
                    margin-bottom: 40px;
                }

                .banner-servicios-button {
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 32px;
                    border: 2px solid #be40e0;
                    transition: all 0.5s;
                    font-size: 17px;
                    font-weight: 600;

                    &:hover {
                        background-color: #be40e0;
                        transition: all 0.5s;
                        box-shadow: 1px 1px 30px -5px #20202085;
                    }
                }
            }
        }
    }

    /* SECCION TITULO SERVICIOS */
    .cover-top {
        background-color: #fff;

        .container {
            padding-top: 130px;
            padding-bottom: 120px;

            .title-servicios {
                gap: 1em;
                display: flex;
                align-items: center;
                flex-direction: column;

                .title-servicios__title {
                    font-size: 45px;
                    font-weight: 600;
                }

                .title-servicios__paragraph {
                    font-size: 18px;
                    font-weight: 400;
                    margin: 20px;
                    width: 80%;
                }
            }
        }
    }

    /* SECCION SERVICIOS UNO */
    .servicios-uno {
        background: #fff;

        .container {
            padding-top: 40px;
            padding-bottom: 50px;

            .servicios-uno-picture {
                text-align: center;

                .servicios-uno-img {
                    width: 60%;
                }
            }

            .servicios-uno-subtitle {
                color: $color-title;
                margin-bottom: 20px;
                position: relative;
            }

            .servicios-uno-text {
                line-height: 1.7;
            }
        }
    }

    /* SECCION SERVICIOS DOS */
    .servicios-dos {
        background: #fff;
        position: relative;

        .container {
            padding-top: 120px;
            padding-bottom: 150px;

            .servicios-dos-picture {
                text-align: center;

                .servicios-dos-img {
                    width: 80%;
                }
            }

            .servicios-dos-subtitle {
                color: $color-title;
                margin-bottom: 20px;
                position: relative;
            }

            .servicios-dos-text {
                line-height: 1.7;
            }
        }
    }

    /** SECCION SERVICIOS */
    .servicios {
        background: #fff;

        .container {
            overflow: unset;
            padding-top: 50px;
            padding-bottom: 30px;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 0;

            .servicios-flex {
                display: flex;
                flex-direction: row;
                justify-content: center;

                aside {
                    min-width: 25%;
                    //margin: 40px 50px 20px 0;
                    height: 100%;
                    //padding-top: 20px;
                    position: sticky;
                    //margin-right: 3em;
                    top: 100px;

                    .titulo {
                        font-weight: bold;
                        font-size: 1.8em;
                        color: #292b2f;
                        //width: 12em; gvc
                        text-align: right;
                        margin-bottom: 0px;
                        background: #fff;
                        padding: 10px 39px 10px 0px;
                        border-radius: 0 10px 10px 0;
                        border-color: gray;
                        border-width: 1px 1px 1px 0;
                        border-style: dotted;
                        //box-shadow: 0 15px 45px rgb(0 0 0 / 10%);
                    }
                }

                .contenido p {
                    margin-bottom: 20px;
                    line-height: 30px;
                    color: #525151;
                }

                .contenido .titulo {
                    font-weight: normal;
                    padding-top: 40px;
                }



                .box-flex {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 3em;
                    //width: 1100px;
                    margin-bottom: 50px;

                    .box {
                        position: relative;
                        width: 430px;
                        background: #fff;
                        padding: 100px 40px 60px;
                        border-radius: 20px;
                        box-shadow: 0 15px 45px rgba(0, 0, 0, .1);

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: #ff226d;
                            //background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
                            transform: scaleY(0);
                            transform-origin: top;
                            border-radius: 20px;
                            transition: transform 0.5s;
                        }

                        &:hover:before {
                            transform: scaleY(1);
                            transform-origin: bottom;
                            transition: transform 0.5s;
                        }

                        &:hover .title-uno-box {
                            opacity: 1;
                            color: #fff;
                            transform: translateY(-40px);
                        }

                        &:hover .title-dos-box,
                        &:hover .paragraph-box {
                            color: #fff;
                        }

                        .title-uno-box {
                            position: absolute;
                            left: 40px;
                            top: 60px;
                            font-size: 4em;
                            font-weight: 800;
                            z-index: 1;
                            opacity: 0.1;
                            transition: 0.5s;
                        }

                        .title-dos-box {
                            position: relative;
                            font-size: 1.5em;
                            z-index: 2;
                            color: #333;
                            transition: 0.5s;
                        }

                        .paragraph-box {
                            position: relative;
                            z-index: 2;
                            color: #555;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }

    /* seccion info uno servicios */
    .bg-info-uno {
        padding-top: 120px;
        padding-bottom: 50px;

        .info-uno-picture {
            max-width: 400px;

            .info-uno-img {
                width: 100%;
                display: block;
            }
        }

        .subtitle-info-uno {
            color: $color-title;
            font-size: 2rem;
            margin-bottom: 25px;
            position: relative;

            &::before {
                content: '';
                width: 50px;
                height: 8px;
                background-color: #eb5757;
                position: absolute;
                top: -30px;
            }
        }

        .text-info-uno {
            line-height: 1.7;
        }
    }

    /* SECCION TECNOLOGIAS */
    .tecnologias {
        background: #fff;
        padding-left: 160px;
        padding-right: 160px;

        .container {
            padding-top: 25px;
            padding-bottom: 25px;

            .tecnologias-grid {
                display: flex;
                flex-direction: row;
                justify-content: center;
                animation: logoMove 90s linear infinite;

                @keyframes logoMove {
                    0% {
                        transform: translateX(0%);
                    }

                    100% {
                        transform: translateX(-100%);
                    }
                }

                & img {
                    height: 50px;
                    margin-right: 40px;
                    margin-left: 40px;
                }
            }
        }
    }

    /* seccion info dos servicios */
    .info-dos {
        background: #fff;
        text-align: center;

        .container {
            padding-top: 150px;
            padding-bottom: 150px;

            .subtitle-info-dos {
                color: $color-title;
                font-size: 2rem;
                margin-bottom: 25px;
                position: relative
            }

            .text-info-dos {
                width: 60%;
                margin: 0 auto;
                margin-bottom: 40px;
            }

            .btn-info-dos {
                display: inline-block;
                background-color: #eb5757;
                justify-self: center;
                color: #fff;
                text-decoration: none;
                padding: 13px 30px;
                border-radius: 32px;
                box-shadow: 1px 1px 30px -5px #20202049;
                transition: box-shadow 500ms;
                font-size: 18px;
                font-weight: 600;

                &:hover {
                    box-shadow: 1px 1px 30px -5px #20202085;
                }
            }
        }
    }
}


/* MEDIA QUERYS */
@media screen and (max-width: 1200px) {
    .tecnologias .container .tecnologias-grid {
        animation: logoMove 20s linear infinite;
    }

    .fade-in .servicios .container .servicios-flex aside {
        min-width: 30%;
    }

    .fade-in .servicios .container .servicios-flex aside .titulo {
        font-size: 1.5em;
    }

    .fade-in .hero-servicios .banner-servicios-text .container .banner-servicios-title {
        font-size: 45px;
    }

    .fade-in .tecnologias .container .tecnologias-grid {
        animation: logoMove 20s linear infinite;
    }
}

@media screen and (max-width: 1024px) {
    .tecnologias {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 992px) {
    .fade-in .servicios-info .container .servicio-info-flex .content .smallscreen img {
        padding-top: 5em;
    }

    .fade-in .servicios-info .container .servicio-info-flex .content .title-servicios-info {
        font-size: 35px;
        margin-top: 4em;
        text-align: left;
    }

    .fade-in .servicios-info .container .servicio-info-flex .content .paragraph-servicios-info {
        font-size: 1.3em;
        text-align: left;
    }

    .servicios .container .servicios-flex aside {
        min-width: 30%;
    }

    .servicios .container .servicios-flex .box-flex {
        justify-content: left;
        margin-left: 5em;
    }

    .servicios .container .servicios-flex aside .titulo {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 767px) {
    .fade-in .servicios-info .container .servicio-info-flex .content {
        background-image: none;
        padding: 3em 0 50em 0;
    }

    .fade-in .servicios-info .container .servicio-info-flex .content .smallscreen {
        display: block;
    }

    .fade-in .servicios-info .container .servicio-info-flex .content .title-servicios-info {
        margin-top: 1em;
        text-align: center;
    }

    .fade-in .servicios-info .container .servicio-info-flex .content .paragraph-servicios-info {
        text-align: center;
        font-size: 1.2em;
    }

    .fade-in .servicios-uno .container .servicios-uno-picture .servicios-uno-img {
        width: 30%;
    }

    .fade-in .servicios-dos .container .servicios-dos-picture .servicios-dos-img {
        width: 40%;
    }

    .fade-in .servicios .container .servicios-flex {
        flex-direction: column;

    }

    .fade-in .servicios .container .servicios-flex .box-flex {
        margin-left: 0;
    }

    .fade-in .servicios .container .servicios-flex aside .titulo {
        text-align: center;
        font-size: 3em;
        margin-bottom: 1em;
        border-style: none;
        text-transform: uppercase;
    }

    .fade-in .servicios .container .servicios-flex aside .titulo {
        padding: 10px 0px 10px 0px;
    }

    .fade-in .tecnologias {
        padding-left: 70px;
        padding-right: 70px;
    }

    .fade-in .servicios-uno .container .servicios-uno-picture {
        margin-bottom: 4em;
    }
}

@media (max-width: 575px) {
    .fade-in .servicios-info .container .servicio-info-flex .content .smallscreen {
        display: block;
    }

    .fade-in .hero-servicios .banner-servicios-text .container .banner-servicios-title {
        font-size: 30px;
    }

    .fade-in .hero-servicios .banner-servicios-text .container .banner-servicios-paragraph {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .fade-in .hero-servicios .banner-servicios-text .container .banner-servicios-title {
        width: 100%;
    }

    .fade-in .cover-top .container .title-servicios .title-servicios__paragraph {
        text-align: center;
    }

    .fade-in .servicios-uno .container .servicios-uno-picture .servicios-uno-img {
        width: 50%;
    }

    .fade-in .servicios-dos .container .servicios-dos-picture .servicios-dos-img {
        width: 70%;
    }

    .fade-in .servicios .container .servicios-flex aside .titulo {
        font-size: 2em;
    }

    .fade-in .tecnologias .container .tecnologias-grid {
        animation: logoMove 10s linear infinite;
    }
}